.constructor {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.constructor_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scroll_container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 465px;
}

.scroll_container::-webkit-scrollbar {
    width: 8px;
}

.scroll_container::-webkit-scrollbar-track {
	background: #2F2F37;
}
.scroll_container::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.summary {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price_container {
    display: flex;
    align-items: center;
}

.price {
    display: inline-block;
}
