.ingredients {
    max-width: 600px;
}

.tabs_container {
    display: flex;
}

.scroll_container {
    overflow-y: scroll;
    max-height: 716px;
}

.scroll_container::-webkit-scrollbar {
    width: 8px;
}

.scroll_container::-webkit-scrollbar-track {
	background: #2F2F37;
}
.scroll_container::-webkit-scrollbar-thumb {
	background: #8585AD;
	border: 3px solid #2F2F37;
	border-radius: 6px;
}

.container {
    display: flex;
    flex-direction: column;
}

